<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<!-- Page Preloder -->

<body>
    <app-user-header></app-user-header>



    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero__search">
                    <div class="hero__search__form" style="margin-left: 140px;">
                        <form action="#">

                            <input type="text" placeholder="What do yo u need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <span class="material-icons">
                                local_phone
                                </span>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="breadcrumb-section set-bg ">

        <div class="photo">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="breadcrumb__text">
                            <h2>Organify Shop</h2>
                            <div class="breadcrumb__option">
                                <a>Home</a>
                                <span>Shop</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <section class="product spad">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-3 col-md-5">
                        <div class="sidebar">
                            <div class="sidebar__item">
                                <h4>Department</h4>
                                <ul>
                                    <li *ngFor="let category of categotyList" style="cursor: pointer;" (click)="getProductById(category.id)">{{category.category}}</li>
                                </ul>
                            </div>




                        </div>
                    </div>
                    <div class="col-lg-9 col-md-7">


                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let product of productList">


                                <div class="card">
                                    <img [src]="product.photo" alt="Denim Jeans" style="width:100%">
                                    <p><button style="background-color: #BA2F16" (click)="viewProduct(product.id)" *ngIf="isLoggedIn()">View</button><button class="cart" (click)="addToCart(product.id)" *ngIf="product.quantity > 0">Add to Cart</button></p>
                                </div>
                                <small *ngIf="product.quantity == 0" style="color: #BA2F16; font-size: medium; text-align: center;">Out of Stock</small>
                                <div class="featured__item__text ">
                                    <h6><a href="# ">{{product.productName}}</a></h6>
                                    <h5>&#8377;{{product.price}}</h5>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Product Section End -->
    </div>





    <app-admin-footer></app-admin-footer>
</body>

</html>