    @import './../../custom/header-footer/css/bootstrap.min.css';
    @import './../../custom/header-footer/css/style.css';
    .image {
        height: 431px;
        display: flex;
        align-items: center;
        padding-left: 180px;
        background-image: url('E:\Learning Material\PROJECT\shopify\src\assets\banner.jpg');
        background-position: center center;
        background-repeat: no-repeat;
    }